return {
  java = {
    configuration = {
      runtimes = {
        {
          name = "JavaSE-1.8",
          path = "~/.asdf/installs/java/zulu-8.90.0.19/",
          sources = "~/.asdf/installs/java/zulu-8.90.0.19/src.zip",
        },
      },
    },
  },
}
